[2017-08-12 16:15] VizuaaLOG opened #1 "JS integrations"
Hey,

I'm currently working on creating a JS integration for the core Bulma components.

I really like how your extensions look, would you be happy for me to create JS integrations for some or all of your components once the core Bulma ones are completed?

I will need help with some of them, such as the Calendar, but I'm to give all of them a go.

[You can find the project here](https://github.com

[2017-08-24 06:49] Wikiki commented on #1
Hi,

Thanks for your message.

I'd discovered your framework recently and it's a really good idea.
I'll be glad to help you with the integration of my components into it.

Creating basic JS part (especially for calendar) is already in my todo-list.
I propose you to keep in touch when the core Bulma components are ready on your side.

Regards

[2017-08-24 06:49] #1 closed

[2017-08-29 07:22] AGmakonts opened #2 "Axure Library Link"
Hi,

We have created AxureRP Library for Bulma and all the extensions so it could be useful to link to it for designers that might want to use it.

Link: https://github.com/Code-Mine-Development/Bulma.io-axure

[2017-08-29 08:16] Wikiki commented on #2
Hi,

great Job.

I'll add a link to your extension ;-)

Regards

[2017-08-29 12:02] coussej opened #3 "npm package"
I manage all my dependencies using npm, including bulma. It would be very useful to publish this repo to npm, so we can add it to package.json and import both bulma and the extensions in a main.sass file.

Thanks!

[2017-08-29 20:15] joshmanders commented on #3
I too would like to see all your extensions published to npm. Right now it's a pain to keep up-to-date.

[2017-08-30 10:37] Wikiki commented on #2
Done

[2017-08-30 10:37] #2 closed

[2017-08-30 10:38] Wikiki commented on #3
Hi,

I'll try. I have never created a npm package but I'll see how to do that as soon as possible.

Regards

[2017-08-30 15:58] Wikiki commented on #3
Hi,

I've created a NPM package called bulma-extensions in version 0.0.1 (https://www.npmjs.com/package/bulma-extensions)

Let me know if you are facing issues.

Regards

[2017-08-30 15:58] #3 closed

[2017-08-30 17:56] joshmanders commented on #3
Is it possible to get each extension published individually? I only use a few, and would like to be able to do `@import "~bulma-pricingtable"` in my sass.

[2017-08-30 18:22] Wikiki commented on #3
Hi @joshmanders,

it's already done. I've also added a link to the npm package of each extension on the related documentation page available here: https://wikiki.github.io/bulma-extensions/overview

Regards

[2017-08-30 18:24] joshmanders commented on #3
Awesome. Thank you, @Wikiki!

[2017-08-31 08:04] coussej commented on #3
Thank you @Wikiki. Both for acting on my request and making such awesome extensions :-)

[2017-08-31 09:46] Wikiki commented on #3
You're welcome ;-)

[2017-09-15 22:39] itwy opened #4 "Compiled version"
First, I'd like to say thanks for your efforts. Amazing work.

Why there isn't precompiled versions?  Compiling from SASS seems like a hassle.

[2017-09-16 08:51] Wikiki commented on #4
Hi @itwy,

thank you.

I didn't provide precompiled version because these extensions depend on Bulma's core and to let developers able to customize them using variables.
But I agree it could be good to have precompiled versions of sass files.
I'l try to add them soon.

Regards,

[2017-09-16 13:54] itwy commented on #4
Cool. I actually found the instructions on how to compile the extensions after posting this issue and compiled them with ease.

I am going to close the issue for now.

[2017-09-16 13:54] #4 closed

[2017-09-18 02:10] Log1x opened #5 "Request: Comparison Table"
Perhaps a Comparison Table would make a nice Bulma extension?

Something similar to [this](https://codepen.io/silencekillsdesign/pen/myggLo?page=1&) maybe? But up to date and mobile responsive.

[2017-09-21 02:19] Log1x commented on #5
https://codyhouse.co/demo/products-comparison-table/index.html

[2017-09-21 05:50] Wikiki commented on #5
Hi @Log1x,

thanks for the examples. Don't hesitate if you have others.
I'll try to work on this extension before the end of this month.

[2017-09-22 01:59] Log1x commented on #5
The only thing I can think of right now is a proper Mega Menu. I know someone else already did an extension for it, but all they did was `position: static` the dropdown container and it's really not a true implementation.

https://codyhouse.co/gem/css-mega-site-navigation/ -- this is pretty over the top, but it's an idea of what would be truly usable. The sidebar for mobile is nice as well -- but

[2017-09-27 10:53] kresli opened #6 "is this up to date?"
https://github.com/aramvisser/bulma-steps contain different sass. I can't reproduce examples from bulma-steps. Is this need to be manually updated?

[2017-09-27 10:56] Wikiki commented on #6
Hi @kresli ,

sorry but you are pointing on @kresli aramvisser steps extensions.

Regards

[2017-09-27 11:04] kresli commented on #6
Yes you are right. Of course I found it after posting the issue. Thank you.

[2017-09-27 12:14] kresli commented on #6
Actually I think I need to reopen this ticket. Installed bulma-extensions doesn't contain latest version of bulma-steps. This [commit](https://github.com/Wikiki/bulma-steps/commit/404c20ba3315b337a28767a8b6b7cd249531b627#diff-d20ceb9652c26e5d67b2f3c34406053b) change `step-content` to `step-details` which doesn't exist in my  bulma-extensions module

[2017-09-27 18:45] Wikiki commented on #6
Did you use npm version or github repository ?

[2017-09-28 16:12] kresli commented on #6
npm. This could be because you change version from 1.0.0 to 0.5.3. Thats my guess. You always trying to keep it with semantic versioning to make npm happy :) http://semver.org/

Otherwise really good stuff! Thank you.

[2017-09-28 18:15] Wikiki commented on #6
My bad I forgot to update bulma-extensions npm with last extensions versions.

It should be working now.
Please let me know.

Regards

[2017-10-02 16:38] #6 closed

[2017-10-02 16:39] Wikiki commented on #5
Hi @Log1x ,

comparison table has been added.
I'll have a look to a mega-menu.

Regards

[2017-10-02 16:39] #5 closed

[2017-10-04 00:49] toymachiner62 opened #7 "Need to update github pages integration section"
I stumbled for quite a while on integrating the calendar extension into my project.

The 4th bullet on this page https://wikiki.github.io/bulma-extensions/overview#integration says to copy the code from bulma-switch repo. I just did what this said and didn't realize that bulma-switch was a submodule and it took me a while to figure out why the calendar wasn't loading correctly..

[2017-10-17 13:23] Wikiki commented on #7
Hi @toymachiner62 ,

as mentionned at the beginning of this paragraph I took "switch" extension as example for the process.

But I agree, maybe I should split process for all and single extension.

[2017-10-27 09:42] #7 closed

[2017-11-03 22:23] ctolkien opened #8 "Extension request - Accordion"

[2017-11-04 09:18] Wikiki commented on #8
Hi @ctolkien,

you can find a WIP version here: https://wikiki.github.io/bulma-extensions/accordion
I'm facing an issue with the toggle icon but I'm working on it.

Regards

[2017-11-04 09:50] Wikiki commented on #8
Hi again,

the issue with toggle icon has been fixed.

Regards

[2017-11-04 09:50] #8 closed

[2017-11-04 13:22] pirvanc opened #9 "typo in extensions.sass"
typo in extensions.sass:

@import "bulma-iconpciker/iconPicker.sass"

should be:

@import "bulma-iconpiCker/iconPicker.sass"

[2017-11-04 17:21] Wikiki commented on #9
Thanks

[2017-11-04 17:21] #9 closed

[2017-11-09 22:21] Livijn opened #10 "Typo in extensions.sass"
Typo in _extensions.sass_

`@import "bulma-iconpciker/iconPicker.sass"`

Should be

`@import "bulma-iconpicker/iconPicker.sass"`

[2017-11-10 07:04] Wikiki commented on #10
Sorry it was fixed but I messed up with last commits.

[2017-11-10 07:04] #10 closed

[2017-11-12 18:06] OGhawsi opened #11 "import problems with Laravel"
After installing all the extensions, npm module not found or file is not readable, error in all cases. I have tried all the given methods none of them worked for me. Keep in mind I am using Laravel.
Any Idea, please.
Thanks. @Wikiki

[2017-11-14 06:50] Wikiki commented on #11
Hi @OGhawsi,

are you able to share your project so I'll be able to test ?

regards

[2017-11-14 07:49] OGhawsi commented on #11
## Here is a screenshot from App.scss
![image](https://user-images.githubusercontent.com/30488194/32768471-914f9736-c935-11e7-8737-152461a56865.png)

## And this is the result from npm run dev
![image](https://user-images.githubusercontent.com/30488194/32768536-d0cf50f4-c935-11e7-8cd1-738d420e24cd.png)

@Wikiki

[2017-11-14 16:14] Wikiki commented on #11
Did you try to install extension alone (like switch) to see if it works ?

[2017-11-14 20:19] anakinjay commented on #11
Had the same issue with my angular app here's the problem in extensions.sass:
@import "bulma-**iconpciker**/iconPicker.sass"

Fix the typo to iconpicker and it works fine :)

[2017-11-15 12:07] #11 closed

[2017-11-15 16:18] jongar opened #12 "A calendar range of a single day!"
Hi! Thanks for these extensions.

I am having an issue with the calendar, I want to highlight the event. I am using is-active for today and I want to give range-start/end color to another single day. When I assign range-start and range-end, the lighter color leaks.

To clarify, for example here: https://wikiki.github.io/bulma-extensions/calendar... I want only 16 and 20 highlighted like they are w

[2017-11-15 18:47] Wikiki commented on #12
Hi,

I've added the $calendar-range-background-color variable.
So you can set it to transparent if you don't want to have the lighter background color

[2017-11-15 18:47] #12 closed

[2017-11-15 19:07] jongar commented on #12
@Wikiki Thanks, I appreciate it.

[2017-11-15 19:09] jongar opened #13 "Tooltip breaks the date range"
The tooltip breaks the calendar if there's a range. Please take a look:

![screen shot 2017-11-15 at 2 07 14 pm](https://user-images.githubusercontent.com/4993765/32855005-79126dae-ca0e-11e7-8756-c78fb5cb1fcd.png)

[2017-11-15 19:39] Wikiki commented on #13
Set tooltip on the .date-item element.
Due to the use of ::before by both (calendar-date and tooltip) we can't set tooltip on calendar-date element.

[2017-11-15 19:39] #13 closed

[2017-11-15 20:01] jongar commented on #13
@Wikiki Doh, you are right. That works. Thanks again.

[2017-11-15 21:00] Laraveldeep opened #14 "[Info] Included in Bulma Front-end Preset for Laravel"
Great extensions!

I have included this extension in Bulma preset package for Laravel.

https://github.com/laravel-frontend-presets/bulma

Thought at some point bulma users will come looking for adding these functionality on their projects.

Thanks!

[2017-11-16 10:20] Wikiki commented on #14
Thank you.

I have added your repository to the README file.

I'll add it to the documentation page soon.

[2017-11-16 10:20] #14 closed

[2017-11-17 01:54] kot83 opened #15 "Broken github pages"
![](http://smh.html-5.me/i/1510883565.png)

[2017-11-17 05:37] Laraveldeep commented on #15
Yep
Day before it was there.

[2017-11-17 05:51] Wikiki commented on #15
Hi,

Sorry, I've a refactored the documentation but forgot to update all github README files.
I'll do it now.

[2017-11-17 05:58] Wikiki commented on #15
It should be fixed.
You can now access to the document directly from the url: https://wikiki.github.io

[2017-11-17 05:58] #15 closed

[2017-11-17 12:43] Laraveldeep commented on #15
Thanks!

[2017-11-30 11:08] eraldinho opened #16 "need help"
Hi,
i'am trying to use your calendar extension in the firestarter app (https://github.com/codediodeio/angular-firestarter). I'm not sure to understand what is the correct way to do this. I have this error:
"TypeError: datepicker_1.DatePicker is not a constructor" when I try to create a new datepicker for a text input in my form.

If I write "@import "~bulma-calendar";" in my styles.scss file I hav

[2017-11-30 13:28] Wikiki commented on #16
Hi,

did you install bulma too and import it before importing the extension ?
It seems the extension does not find bulma's variables.

[2017-12-10 10:59] Wikiki commented on #16
Hi @eraldinho,

do you still having issue ?

[2017-12-10 11:08] eraldinho commented on #16
Hi Wikiki,

I'm sorry, I did not have time to work on my project since my ask for help. But This project is for a professional purpose so I must fulfill it. Be sure I will keep you informed when I will try your solution (certainly in a week or 2). Thanks for your help

[2017-12-12 08:31] Rickem opened #17 "Carousel not working"
Hi,
I'm trying to get the carousel extension working in my angular app but but no luck.
I've added the courousel.js script in my index.html. Also, I've installed bulma and bulma-extensions with npm and added @import 'bulma'; in my style.scss which gives me this error: **File to import not found or unreadable: bulma. Parent style sheet: stdin**

Can you help?

[2017-12-12 16:14] Wikiki commented on #17
Hi @Rickem,

this is bulma related. Not extension.
You should post an issue on bulma's repository.

Regards

[2018-01-08 20:04] anandutk opened #18 "Not working with vuejs"
Hello there! I've been trying to include the extension to my vuejs project. Please tell me the right attribute I should use to do the same.

This is the error I'm getting-
**_Module not found: Error: Can't resolve 'sass-loader'_**

Thanks in advance!

[2018-01-09 06:57] Wikiki commented on #18
Hi,

did you tried:

```npm install sass-loader --save-dev```

and

```npm install --save-dev node-sass```

[2018-01-09 06:58] Wikiki commented on #17
Hi @Rickem,

is it working now ?

[2018-01-09 14:59] anandutk commented on #18
And how should I include these all files to my project? I'm trying -
**Import bulma from 'bulma-extentions'**

[2018-01-10 20:19] Wikiki commented on #18
Please follow documentation at: https://wikiki.github.io/

[2018-01-10 20:19] #18 closed

[2018-01-10 20:19] #17 closed

[2018-01-11 10:34] OGhawsi opened #19 "Carousel"
Can you please update the Carousel to change the image after few seconds instead of clicking the arrows on the sides.

[2018-01-13 14:01] itsursujit opened #20 "Steps with changeable content"
Thank you for your great collection of extensions. I'm trying to use Steps extension for Form Wizard.       It would be good if the Steps extension have changeable content like Form Wizard.

[2018-01-13 16:11] Wikiki commented on #20
Hi @itsursujit,

actually, It has :-)
But unfortunately its not documented (my bad). Find example below:

[code]

[2018-01-13 16:16] itsursujit commented on #20
Thank you for your quick response. How can I validate required fields before moving to next step? Are there any options available?

[2018-01-13 16:20] Wikiki commented on #20
You can use the <code>beforeNext</code> option available to provide a method to check on which step you are and do your validation.

[2018-01-13 16:24] itsursujit commented on #20
How can I use `beforeNext`?
I'm using `new StepsWizard(document.getElementById("stepsDemo"))`

[2018-01-13 16:34] Wikiki commented on #20
just define your method as option like below:

[code]

[2018-01-13 16:36] Wikiki commented on #19
Hi @OGhawsi,

it's now available :-)
Please see the documentation page to see how it works: https://wikiki.github.io/components/carousel/

regards

[2018-01-13 16:36] #19 closed

[2018-01-13 16:37] Wikiki commented on #20
I note on my todo to detail the use of the JS into the documentation ;-)

[2018-01-13 16:38] itsursujit commented on #20
Thank you! I think I've just found a bug. When you reach last step i.e. from step 3 to step 4, the next button can be clicked even after it is disabled and taking me back to step 3

[2018-01-13 16:38] Wikiki commented on #20
Thanks for the notice. I'll have a look on it.

[2018-01-13 16:41] Wikiki commented on #20
Do you have the same issue with the demo on the documentation page ?

[2018-01-13 16:44] itsursujit commented on #20
No. The demo wi JS implementation working well there.

[2018-01-13 16:50] itsursujit commented on #20
Sure. Give me some minutes

[2018-01-13 17:01] itsursujit commented on #20
Here: https://codepen.io/itsursujit/pen/OzEryR

[2018-01-13 17:25] Wikiki commented on #20
The issue seems to related to the fact you are using links for navigation button.
If you use button it works.
I'll see how to fix that (not today I need to leave)

[2018-01-13 17:27] itsursujit commented on #20
Much Appreciated! Thanks

[2018-01-13 17:27] Wikiki commented on #20
I think it's because a link can't be really disabled so my script intercept the click on it.

[2018-01-13 17:34] itsursujit commented on #20
In that case placing css `pointer-events: none` might work

[2018-01-13 17:49] Wikiki commented on #20
It has been fixed.

[2018-01-13 17:49] #20 closed

[2018-01-14 16:11] Laraveldeep opened #21 "[Question] Why Ribbon is not included on sass?"
I noticed that bulma-ribbon is there but not included in `extension.sass` and not mentioned in documentation also. Is that intentional? Thanks!

[2018-01-14 16:24] Wikiki commented on #21
Hi,

yes it's intentional. I have work to do on it before including it.

[2018-01-14 16:24] #21 closed

[2018-01-28 21:14] sandeepc24 opened #22 "Carousel not working work with bulma 0.6.2"
I cannot get the Carousel to work with this version of bulma. I am displaying 5 items but I do not see 5 images instead I see following image
![image](https://user-images.githubusercontent.com/4897654/35487095-b8acab56-04dc-11e8-8b2c-60fda5fb6c82.png)

The code for the element from browser is

` #html
<div class="field"><label class="label">Images</label><div class="carousel is-5 carousel-animate-

[2018-01-28 21:40] Wikiki commented on #22
Hi, the documentation page is based on v0.6.2. so I assure you it's working.
Can you please provide a copen.io ? So, I'll be able to have a look on you issue.

[2018-01-28 23:31] sandeepc24 commented on #22
I have created a sample, please have a look at the attached files.

[BulmaExtensions.zip](https://github.com/Wikiki/bulma-extensions/files/1671749/BulmaExtensions.zip)

[2018-01-29 05:46] Wikiki commented on #22
Hi,

please create a https://codepen.io or https://jsfiddle.com and avoid uploading archive file.

[2018-01-29 06:17] Wikiki commented on #22
@sandeepc24 please find the proof of work here: https://codepen.io/wikiki/pen/mXbNjN/

[2018-01-29 08:30] sandeepc24 commented on #22
I'll try it after you update the css file to see if it works. Thanks.

[2018-01-29 09:40] Wikiki commented on #22
Css have been updated in the extension repository (but not in the current repository) if you want to try.

[2018-01-29 15:08] sandeepc24 commented on #22
I am not sure where they is, could you please let me know after you update the current repository. Thanks.

[2018-01-29 18:07] Wikiki commented on #22
Hi, repositories and npm packages have been updated with the last version of CSS files.
Can you try again and tell me if you're still facing issues ?

[2018-01-29 21:08] tutuca opened #23 "Fail to build due to undefined variables"
Using bulma v0.6.2 and bulma carousel v0.3.5 from npm I get:

    Child extract-text-webpack-plugin node_modules/extract-text-webpack-plugin/dist node_modules/css-loader/index.js!node_modules/postcss-loader/lib/index.js??postcss!node_modules/sass-loader/lib/loader.js!src/scss/style.scss:
           [0] ./node_modules/css-loader!./node_modules/postcss-loader/lib?{"ident":"postcss"}!./node_modules/s

[2018-01-30 08:14] sandeepc24 commented on #22
Hi, the images are now showing but I can't click on the navigation buttons. Please test with the files I sent earlier in zip file. I copied the js file from codepen even then it is failing.

[2018-01-30 08:51] Wikiki commented on #22
Hi, I won't download you archive file.
Please create a codepen (you can fork the one I created to show you a working version)

[2018-01-30 08:51] Wikiki commented on #23
Hi,

You have to install Bulma first. Please read the documentation at wikiki.github.io

[2018-01-30 08:59] Wikiki commented on #23
Did you include bulma first ?

[2018-01-30 09:48] VisualBean opened #24 "checkbox checks not showing in IE11"
The checkbox checks are not showing in IE11. - Works in edge though.

[2018-01-30 10:41] tutuca commented on #23
I actually did had bulma installed. But I was importing it after the extension. Sorry for the dumb question. Great library!

[2018-01-30 10:41] #23 closed

[2018-01-30 11:10] Wikiki commented on #23
No problem.
Glad to know its working now ;-)

[2018-02-03 15:54] BirUdaya opened #25 "not linux user"
I am not a linux user. Cannot add the Bulma extensions to my project. I am using windows 10. What to do now?

I am a newbe about developing sites.

[2018-02-04 11:09] Wikiki commented on #25
Hi @BirUdaya,

you just need to install node.js and npm on windows to be able to install bulma and extensions.
See tuto at http://blog.teamtreehouse.com/install-node-js-npm-windows

regards

[2018-02-04 11:09] #25 closed

[2018-02-04 11:10] Wikiki commented on #22
Hi @sandeepc24,

any news regarding your codepen to help you ?

[2018-02-04 11:15] BirUdaya commented on #25
thank you 👍

[2018-02-04 11:18] BirUdaya commented on #25
One thing I have used "<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">" in my code. And my code is working well with Bulma without installing node.js or npm. Only I faced issues with extensions.

[2018-02-04 11:21] Wikiki commented on #25
Ok then just import css file of extensions.

If you still want to use sass then follow documentation at https://wikiki.github.io

[2018-02-05 08:26] sandeepc24 commented on #22
It was working for you on codepen but the sample I submitted did not work, so I had to debug it, it was something in files I submitted that was incorrect, after fixing it the sample works. Thanks for all your help.

[2018-02-05 08:26] #22 closed

[2018-02-05 14:58] jcerdan opened #26 "Calendar does not work with Firefox"
Hi,

After last calendar update (from 0.1.9 to 0.2.0), calendar does not trigger after selecting text field. Don't know if it's Firefox 58.0.1 problem or bulma-calendar 0.2.0.
This problem appears using overlay as true or false.
It does work fine with Chromium.

Regards

[2018-02-05 15:37] Wikiki commented on #26
Hi,

Is there an issue in the console ?

[2018-02-05 16:55] jcerdan commented on #26
Hi,
there's no output on the console. Yes, it also occurs on the documentation page.
Regards

[2018-02-06 06:44] Wikiki commented on #26
Hi,

It's working well under Firefox 58 on my side.
<a href="https://ibb.co/eVUAGH"><img src="https://preview.ibb.co/d6caix/calendar_firefox_58.png" alt="calendar_firefox_58" border="0"></a>

[2018-02-06 08:12] wploey opened #27 "Carousel sliding switch Features"
Hey man, you bulma-extensions is awesome. but I find the carousel, not support sliding switch. and I try to expand this carousel.  my code is here https://codepen.io/wploey/pen/PQzLKv not very standard but I still hope you add this features.

[2018-02-06 09:48] Wikiki commented on #27
Hi,

thanks.
I'll add this feature soon ;-) thanks for the codepen ;-)

[2018-02-06 13:34] Wikiki commented on #24
Fixed.

[2018-02-06 13:34] #24 closed

[2018-02-06 13:46] jcerdan commented on #26
Hi,
apparently it was a bug on Firefox package in Archlinux. Got an update today and now it works fine in Firefox-58.0.1-2
https://www.archlinux.org/packages/extra/x86_64/firefox/

Regads

[2018-02-06 14:56] #26 closed

[2018-02-08 18:50] Wikiki commented on #27
Fixed by commit 237f84c

[2018-02-08 18:50] #27 closed

[2018-02-11 11:36] Wikiki commented on #16
Hi @eraldinho ,

any news ?

[2018-02-16 04:12] ashitvora commented on #11
I am trying to import Bulma Switch.
Isn't this the right way to import?
[code]

I am getting error -

[code]

[2018-02-16 07:42] Wikiki commented on #11
Hi @ashitvora,

There is a dist folder including files so the import path should be:
<code>~bulma-extensions/bulma-switch/dist/bulma-switch.sass</code> or using the shortcut <code>~bulma-extensions/bulma-switch</code>

[2018-02-17 07:44] ashitvora commented on #11
I tried that as well but no luck...

[code]

[2018-02-20 13:15] Wikiki opened #30 "Help requested for Laravel integration"
Hi community,

it seems my extensions have issue with the compilation process used in a Laravel project.
Is there any developer here who could help me to debug it and try to find a configuration working with Laravel ?

regards,

[2018-02-20 21:15] backendcoding commented on #30
Are you trying the frontend preset scaffolding with laravel and bulma?

[2018-02-22 10:16] Pablo-Take commented on #30
I'm using laravel 5.6 and couldn't import the extensions to my scss

`@import "~bulma";
@import "~bulma-extensions";`
and bulma is loading correctly. Tried many variations of paths but none worked

[2018-02-22 10:27] hasanmumin opened #31 "Steps Component Mobile Size"
Hello, thank you for amazing extensions. I just start using your extensions, Steps component mobile size looks a bit bad.

<img width="375" alt="screen shot 2018-02-22 at 13 25 43" src="https://user-images.githubusercontent.com/6329984/36533247-02350c64-17d4-11e8-8289-0e0d0b45ce1b.png">

My suggestion mobile size should be like @aramvisser component which you know it already.

<img width="376" alt

[2018-02-22 13:58] backendcoding commented on #30
Well for an import statement you would just do @import "location_of_bulma_in_your_project/bulma/bulma";

There is an easier way to use bulma with laravel and that is the preset frontend commands in the following link:

https://github.com/laravel-frontend-presets/bulma

[2018-02-22 15:30] poxin13 opened #32 "Badge"
As a feature request, would be nice to have a position for the badge, or a special class to be used in the nav bar. Currently using it on a nav item will be cut off the page since it's loaded at the top.

[2018-02-22 15:45] Wikiki commented on #32
Hi,

actually you can use one of the following modifier:
<code>.is-badge-left</code>
<code>.is-badge-bottom</code>
<code>.is-badge-bottom-left</code>

The documentation about them is currently missing but will be integrated soon.

[2018-02-22 15:47] Wikiki commented on #30
Thanks for your answers.
Actually I'm looking for help from a Laravel Developer to help me to document the right way (and debug if required) my extensions into a Laravel project.

[2018-02-22 15:50] poxin13 commented on #32
Oh hey thanks, my fault for not actually checking.

[2018-02-22 15:50] #32 closed

[2018-02-22 15:52] Wikiki commented on #32
No problem.
I just update the documentation to reference those modifiers.

[2018-02-22 16:11] Wikiki commented on #31
Is vertical display the mode to use on mobile ? Or scrolling horizontal steps ?
I'm open to discuss about it

[2018-02-23 10:52] events-jonas-chrisw opened #33 "Pageloader won't build"
I tried pulling in the some extensions seapeartely using npm.
When trying to build the project it fails because of these references at the top of pageloader:

@import "initial-variables.sass"
@import "functions.sass"
@import "derived-variables.sass"
@import "animations.sass"
@import "mixins.sass"
@import "controls.sass"

surely these are loaded by Bulma anyway??

[2018-02-23 14:40] Wikiki commented on #33
Hi,

I forgot to update npm package.
It's done now.

[2018-02-23 14:40] #33 closed

[2018-02-24 10:57] hasanmumin commented on #31
I think scrolling looks smart idea. Also you can add next and previous nice button for mobile display.

[2018-02-25 20:40] permadiwibisono opened #34 "How to import all extensions in scss?"
I've tried using
`@import 'bulma-extensions/extensions'` following a tutorials.
But i've got error bulma-extensions/extensions not found.
So how to import all extensions in scss correctly?

[2018-02-26 14:16] Wikiki commented on #34
Hi,

don't you forget the <code>~</code> or the direct node_modules path ?

[2018-02-27 06:48] permadiwibisono commented on #34
`/* index.scss */`
`@import 'node_modules/bulma/bulma';`
`@import 'node_modules/bulma-extensions/extensions';`
I've tried using `~` and `node_modules` but still errors in webpack `File to import not found or unreadable: node_modules/bulma-extensions/extensions.`
I'm using `bulma-extensions: ^1.0.3`. Or different version?

![image](https://user-images.githubusercontent.com/14840070/36714376-8dd1837

[2018-02-28 16:44] Wikiki commented on #34
How did you install extensions ?
Are you including node_modules directory to your loader ?

[2018-03-01 08:05] danrye opened #35 "Help importing into Typescript"
I'm having trouble getting the JS to load via TS within an Angular 5 app. Any advice?

[2018-03-01 16:56] Wikiki commented on #35
Hi,

Sorry I never worked with TypeScript :-(

[2018-03-01 17:47] danrye commented on #35
Thoughts on a port of this to TS and Angular? I don't have the time now, but I love what you've done here and I'm interested in forking it with that port in mind.

[2018-03-05 06:28] Wikiki commented on #35
I don't plan to port extensions on TS and Angular.
Feel free to fork the repo and propose it to the community.

[2018-03-05 06:28] #35 closed

[2018-03-05 12:00] chrisrhymes opened #36 "bulma-slider JavaScript error - outputs is not defined"
Hi,

I'm trying to use the bulma slider script and it throws the following error.

bulma-slider.js:7 Uncaught ReferenceError: outputs is not defined
    at findOutputForSlider (bulma-slider.js:7)
    at bulma-slider.js:49
    at NodeList.forEach (<anonymous>)
    at HTMLDocument.<anonymous> (bulma-slider.js:48)

If I change the event listener to "load" instead of "DOMContentLoaded" the error goes

[2018-03-05 13:11] #36 closed

[2018-03-07 17:56] permadiwibisono commented on #34
Install with npm `npm install --save bulma-extensions`. I think my webpack its work. Because when import bulma/bulma in my scss its work. I just following the tutorial but I got error when import bulma-extensions. So how to use your package?

[2018-03-08 03:53] weiliang903 commented on #34
This is success
`@import '~bulma-extensions/bulma-carousel/dist/bulma-carousel.sass';`

[2018-03-08 04:03] permadiwibisono commented on #34
@weiliang903 Its just some extensions what you need to import. How to import all extensions? I think with
`@import '~bulma-extensions/src/extension.sass'`, it will be work. I found `extension.sass` inside `src` of this repo.

[2018-03-08 06:20] Wikiki commented on #34
Hi,

thanks @permadiwibisono but you rather should use the file within <code>dist</code> instead <code>src</code>.

I have to update package.json to point to this file (currently it's pointing to extension.sass which doesn't exists)

[2018-03-14 23:11] mIcHyAmRaNe opened #37 "one main js file"
Hello,
in my personal project, i created a new file in `node_modules/bulma-extensions/dist/` folder, that i named `bulma-extensions.min.js` which countain these lines:
[code]
so instead of importing each js file alone (which is boring) we just import one full file
for example in vuejs project: we just add the line: `import '../node_modules/bulma-extensions/dist/bulma-extensions.min.js'`

[2018-03-20 05:48] dantrevino opened #38 "sass-loader required?"
after installing bulma-extensions via npm and importing tagsinput:
[code]
I'm getting an error:
`Module not found: Error: Can't resolve 'sass-loader'`

[2018-03-21 02:06] cindykj commented on #34
How would you implement the javascript of Carousel into AngularJS? Thanks!

[2018-03-25 17:02] mcflurrybaby opened #39 "cannot find js files"
Hi! I've tried to use bulma-pageloader exptension and it seems that there is no js files in dist directory even after gulp build. what am I doing wrong?

[2018-03-25 17:31] mcflurrybaby commented on #39
hah I'm stupid, pageloader doesn't need any js

[2018-03-25 17:31] #39 closed

[2018-03-26 11:31] marctorresbcn commented on #20
Hello, I 'm trying to add a validation to the extension, I have come to this article through google. But it is impossible to instantiate the "StepsWizard" object in order to define "beforeNext". I do not know how I should use it or where I have to define it. I do not want to touch the file "bulma-steps.js"

Thanks for all

[2018-03-26 11:33] marctorresbcn opened #40 "Reuse beforeNext callback, is possible?"
Hello, I am trying to add a validation to the extension, I have come to this article through google. But it is impossible to instantiate the "StepsWizard" object in order to define "beforeNext". I do not know how I should use it or where I have to define it. I do not want to touch the file "bulma-steps.js"

Thanks for all!

[2018-03-26 11:52] marctorresbcn commented on #40
I answer to myself:

I have commented on these lines on bulma-steps.js

/*
document.addEventListener('DOMContentLoaded', function() {
  var stepsContainers = document.querySelectorAll('.steps');
  [].forEach.call(stepsContainers, (stepsContainer) => {
    var stepsWizard = new StepsWizard(stepsContainer);
  });
});
*/

And i've redefined it outside

new bulmaSteps(
    document.querySelectorAll('.

[2018-03-29 12:33] Wikiki commented on #38
Hi,

no sass-loader required.
Please try with <code>import 'bulma-extensions/bulma-tagsinput/dist/bulma-tagsinput.css'</code>

[2018-03-29 12:34] Wikiki commented on #34
Hi,

@mIcHyAmRaNe : thank you for the complement.

@cindykj : There is no implementation into AngularJS and it's not scheduled.  Feel free to fork this repository and create an AngularJS version.

regards

[2018-03-29 12:34] #34 closed

[2018-03-29 12:36] Wikiki commented on #20
Hi @marctorresbcn ,

<code>just define your method as option like below:

 var stepsWizard = new StepsWizard(document.getElementById("stepsDemo"), {
      'beforeNext': function( step_id ) {
        switch( step_id ) {
          case 1:
            // DO YOUR VALIDATION FOR FIRST STEP (steps_id start at 0)
            break;
            ...
          }
      }
    } );

There is also an onShow onF

[2018-03-29 12:37] Wikiki commented on #40
Hi,

you can see the comment https://github.com/Wikiki/bulma-extensions/issues/20#issuecomment-357448004 in issue #20

regards

[2018-03-29 12:37] #40 closed

[2018-04-01 06:26] dantrevino opened #41 "Feature Request"
Input type=color

[2018-04-02 21:48] fcaivano commented on #30
@Wikiki do you still need help with that? Somewhere i can email you?

[2018-04-03 04:45] Wikiki commented on #30
Hi @fcaivano

Yes I still need help.
You can email me at wikiki(at)protonmail(dot)com

[2018-04-12 11:04] mickeyren opened #42 "none of the extensions re-initalizes on a single page app"
when you navigate away from a page using for example the bulma-accordion and go back, the accordion stops working.

That is because i would presume they only get initializes once with `DOMContentLoaded`

so the DOM/HTML of the accordion gets destroyed when someone navigates away and is recreated but the code that initializes the accordion will not be triggered anymore.

[2018-04-13 07:35] mpall92 opened #43 "bulma carousel issue"
want bulma-carousel extension.provide it.

[2018-04-13 18:31] Wikiki commented on #43
Can you please detail your request ?
Bulma-carousel is available on repository https://github.com/Wikiki/bulma-carousel

[2018-04-19 01:02] TakahiRoyte opened #44 "Switch label removal proposal"
Firstly, thanks for the great extension!  It really is great.

My proposal about switch is to remove requirements of label from switch.

Let's say I want to create a setting screen like below, one like iPhone and Android.

[code]

to accomplish this, I need a code like below.

[code]

Label is empty, but it is still required to show switch it self.  I felt awkward writing this labels, and I though

[2018-04-25 15:43] caleywoods commented on #11
@ashitvora I was running into the error you described earlier and what seemed to be causing it was I was missing a semicolon at the end of the import. My final syntax was:

`@import 'node_modules/bulma-extensions/bulma-badge/badge';`

[2018-04-27 04:56] Wikiki commented on #44
Hi @TakahiRoyte,

if you have any clue how to avoid label (because as you mentioned it is used to display the switch itself) please share ;-)

[2018-04-27 04:58] Wikiki commented on #41
Hi @dantrevino;

It's in my ToDo, unfortunately I have not much time these days.
But I'll work on it as soon that I get som time.

regards

[2018-05-04 09:04] #16 closed

[2018-05-04 09:08] #43 closed

[2018-05-10 12:36] lhcgoncalves opened #46 "Icons in timeline are showing out of the circle"
Hi, there!

The fa-icons inside timeline circles are appearing out.

[![Capturar.png](https://s7.postimg.cc/x1ebtt5pn/Capturar.png)](https://postimg.cc/image/3m8nkt15z/)

HTML
[code]

SASS
[code]

Any ideas about whay could be happening?

[2018-05-11 17:42] Wikiki commented on #46
Hi,

it seems you have css rules which overrides the style.
Can you please provide a codepen.io, so I'll be able to have a look.

[2018-05-11 17:48] lhcgoncalves commented on #46
@Wikiki There isn't. My main.scss is just:

[code]

[2018-05-11 18:13] Wikiki commented on #46
Can you please provide a codepen.io anyway ?

[2018-05-11 18:13] Wikiki commented on #46
And please try with the last update

[2018-05-12 13:29] Wikiki commented on #44
Hi,

due to CSS limitation we have to keep the label and it  can't wrap the input element.
Except by adding some JS it's not possible to remove the label

[2018-05-12 13:29] #44 closed

[2018-05-12 16:36] theguywithglasses commented on #30
Anybody with news on this topic? :)

[2018-05-13 06:54] Laraveldeep commented on #30
Hi,

I maintain the Bulma + extension package here https://github.com/laravel-frontend-presets/bulma

You might want to use this for fresh Laravel project. So far many users are using it without a problem.

[2018-05-13 12:16] Wikiki commented on #30
Thanks a lot.

[2018-05-13 12:16] #30 closed

[2018-05-25 13:00] jeancabral opened #47 "Steps - Skipping stages when I include JavaScript implementation"
Hi Im have a problem whn i include this code
`var bulmaSteps =  new bulmaSteps(document.getElementById('stepsDemo'), {
            onShow: (id) => console.log(id)
         })`

The Stage 2 has been ignored. Someone can help me?

My code is here: https://codepen.io/anon/pen/bMPjZB

Thx advance for help!

[2018-05-31 03:26] mallardduck opened #48 "[Feature Request] Make TagsInput items sortable via drag and drop"
As the title says, I am requesting that the ability to sort tag items via drag and drop be added.

This feature would be very useful as it would allow an easier method of controlling the order of tags. Currently the best solution I have is to enter them in the order needed the first time I enter them. Or worse, when adjusting an already entered list, using a tricky combo strategically deleting som

[2018-05-31 03:29] mallardduck opened #49 "Potential Bug: TagsInput allows duplicate entries"
From the documentation it states that the TagsInput form field is possible due to being based on developit/tags-input. Using the original library I can see that it includes a feature that prevents defaults.

This seems like a cool and useful feature. I'm wondering if there's a bug causing it to not work in this implementation or something else?

[2018-05-31 03:29] mallardduck commented on #49
Example of tags-input with duplicate prevention: http://jsfiddle.net/developit/d5w4jpxq/

[2018-05-31 05:27] Wikiki commented on #49
Hi, there is the <code>duplicates</code> options to set to <code>false</code> to avoid duplicates.

[2018-05-31 09:18] calumk opened #50 "Feature Request: Stacked Progress bars"
Would really like an implementation of this:

https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_progressbar6&stacked=h

[2018-05-31 17:38] sorokinvj opened #51 "Accordion. <a> in accordion-header"
Hi, I got stuck with this (please help if you have time):

I've implemented accordion as part of sidebar menu for catalog, so here the React component code:

[code]

I want user click on header so<a> link fire AND accordion fire up simultanously, so how do I achieve that? Now it's just the accordeon and link doesn't work at all

[2018-05-31 17:41] Wikiki commented on #51
Hi,

You have to put your <code>onClick</code> code directly on the <code>a</code> element then use <code>e.preventDefault();</code> in your JavaScript code.

If you are looking for a complete sidebar menu (with responsiveness capability) have a look at https://creativebulma.net//product/genius-menu

Regards

[2018-05-31 17:48] Wikiki commented on #47
Hi,

this is because bulmaSteps is automatically instantiated by the extension itself. so your code instantiate it a second time. Then when you click on next button it's handled twice.

[2018-05-31 17:50] mallardduck commented on #49
@Wikiki ohhh - that's great to hear!

How would one leverage this feature though?

From what I've seen the input element automatically init's itself upon DOM ready. I'm not seeing any method of controlling the setting before this happens, nor a way to modify it after a Tag input is initialized.

I did notice that there's a line of code that checks for this option as an element attribute. However w

[2018-05-31 17:53] Wikiki commented on #49
arf you're right the condition don't take attribute into account. I'll update it quickly (and also remove the auto init on DOM ready to keep hand on options)

[2018-05-31 18:06] Wikiki commented on #49
Can you try with the last fix ?
Please remember to call <code>.attach()</code> static method with options to init TagsInputs.

[2018-05-31 18:15] Wikiki commented on #47
Please try the last released version.
Remember to call the new <code>.attach(selector, options)</code> method. There is no auto init anymore.

[2018-05-31 18:34] sorokinvj commented on #51
Sorry, I think I put it wrong. Again, I need this link
[code]
to be activated (that is load a page) with the accordion action which is sliding the menu.

Or by <span> you mean <a>?

In your example by the way when I click on menu headers it's only submenu but no hyperlink is loaded

[2018-05-31 18:36] mallardduck commented on #49
Looks like that does resolve the issue!

https://codepen.io/mallardduck/pen/RJPRxZ

[2018-05-31 18:37] Wikiki commented on #49
I'm glad to hear :-)

[2018-05-31 18:37] #49 closed

[2018-05-31 18:44] sorokinvj commented on #51
When I move `toggle` from `div` to `a` nothing changes, accordion works perfectly, but `a` is not

[2018-05-31 18:45] Wikiki commented on #51
can you please provide a codepen so I'll be able to have a look ?

[2018-05-31 19:35] sorokinvj commented on #51
Sure!

The dev server is here – http://dev.braintobrain.ru/raskroechnye-centry-s-chpu

As you see when you click on top-level menu, for example "another hard machinery category" accordion is live, but there is no redirecting to page. Otherwise if you click on sub-item it redirects.

[2018-05-31 23:58] mallardduck commented on #49
Hey @Wikiki,

I may have spoke too soon since I was using codepen earlier to test. Now that I have access to my code and have compiled with the new version I can't init the input. I'm having issues accessing `bulmaTagsinput` in general even though I can see the code in my compiled JS file.

So the way I got around that was by modifying my bulma-extensions to use:

[code]

Not sure if that was an i

[2018-06-01 04:39] Wikiki commented on #49
Weird. It's not intended. I'll have a look this afternoon.

[2018-06-02 07:27] lordmos opened #52 "It seems there are different behaviours between install bumla-extensions and bulma-calendar when using bulma-calendar"
You can test in a blank npm project .
Run npm install bumla-extensions and npm install bulma-calendar . The dist source js code of bulma-calendar are different and there have a bug when using bulma-calendar in bumla-extensions : next month button icon is wrong .

[2018-06-04 18:51] ryuukibeat opened #53 "【Feature/Request】Different Kind of Card"
Hello,
I'm a newbie in programming, even more CSS.
How to re-design BULMA card component that looks like in the image below?
![Cards](https://puu.sh/Az2e1.png)
With some hover light-shadow and the card-image and button slightly out of the card.

Thank you in advance.

[2018-06-04 19:01] Wikiki commented on #53
Hi,

welcome in the delopment world ;-)
First to customize bulma I suggest you to learn Sass (bulma is built on it and propose lots of variables for customization).

[2018-06-05 15:38] smuzammilali opened #54 "Bulma Carousel: Unable to preventDefault inside passive event listener invocation"
Using Bulma carousel extension under my vuejs project, I have successfully implemented the extension and everything works fine including auto play.

Just having this issue when clicking on either left/right navigation buttons:
![2018-06-05_1134](https://user-images.githubusercontent.com/24757934/40986674-ce77dfd2-68b4-11e8-8603-7fa621872e53.png)

[2018-06-05 15:49] Wikiki commented on #54
Hi, it's a known issue. It was just a warning previously.
I'll try to fix that tomorrow.

[2018-06-06 08:04] #53 closed

[2018-06-06 14:37] #54 closed

[2018-06-08 15:28] #47 closed

[2018-06-09 09:10] crabnky opened #55 "[Feature Request] three states switch"
Hi,

Is there a possibility to create a three state switch? I need something like yes/no/does not matter.
I think I can use a slider for it, but the switch would be better I think.

Thanks.

[2018-06-11 10:22] Laraveldeep opened #56 "'bulma-checkradio/dist' folder Missing on bundle install"
Just tried installing v1.1.0 and noticed that `dist` folder is missing from `bulma-checkradio`.

[2018-06-11 10:34] Laraveldeep opened #57 "'bulma-divider/dist' Missing on Bundle Install"
On v1.1.0 `dist` folder and content missing from `bulma-divider`

[2018-06-13 08:35] Laraveldeep opened #58 "TagsInput Fails on v.1.1.0"
Tagsinput not working on bundle install of v1.1.0. Console doesn't show any warning however previously working tagsinput broke in this version.

[2018-06-13 12:28] wang-xi commented on #20
How can i use new StepsWizard().

[2018-06-14 06:11] Laraveldeep commented on #58
@Wikiki referencing the script separately is one way to do it if it is used in single page. The reason we are using webpack it is to compile whatever scripts we have (Vuejs, JQuery, custom scripts used in the app) into single script.

Seems to me extension scripts not working have nothing to do with Laravel or any other framework. It used to work before. Probably something significant have changed

[2018-06-14 09:36] stotes commented on #56
Also experiencing this issue

[2018-06-14 09:47] Wikiki commented on #56
I'll fix this today. Sorry for the inconvenience

[2018-06-14 10:16] Wikiki commented on #58
Hi,

your codepen is working.
You just forgot to call <code>.attach()</code> static method to instantiate extension

[2018-06-14 10:16] #58 closed

[2018-06-14 12:04] Laraveldeep commented on #58
Ok... Yes it is working.
So we need new `attach()` function.

Let me check what's wrong with Laravel.

[2018-06-14 12:22] Laraveldeep commented on #58
@Wikiki
Ok after some test I am able to solve this issue.

I am getting `undefined` error for all extension that required script. Seems like the factory definition in script is not recognized.

Explicitly defining it solved the problem
[code]
Testing other extensions now.

Will inform in related extension thread if there is a problem.

Any clue from this solution?

[2018-06-14 14:08] #57 closed

[2018-06-14 14:08] #56 closed

[2018-06-14 15:09] #37 closed

[2018-06-14 15:09] #42 closed

[2018-06-14 15:09] #52 closed

[2018-06-14 15:12] Wikiki commented on #37
:tada: This issue has been resolved in version 0.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bulma-extensions)
- [GitHub release](https://github.com/Wikiki/bulma-extensions/releases/tag/v0.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 15:12] Wikiki commented on #42
:tada: This issue has been resolved in version 0.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bulma-extensions)
- [GitHub release](https://github.com/Wikiki/bulma-extensions/releases/tag/v0.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 15:12] Wikiki commented on #52
:tada: This issue has been resolved in version 0.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/bulma-extensions)
- [GitHub release](https://github.com/Wikiki/bulma-extensions/releases/tag/v0.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 15:14] Wikiki commented on #46
Any news ?

[2018-06-14 17:43] Laraveldeep opened #59 "[Bundle Install] Bulma Tooltip @import 'position' Not Found"
npm build fails on bundle install (v.2.1.3) with:
[code]
`position` seems to be missing in `bulma-tooltip.sass`

[2018-06-14 17:56] Wikiki commented on #59
You have to include bulma-tooltip path into your Sass build config: node_modules/bulma-extensions/bulma-tooltip

[2018-06-14 18:15] Laraveldeep commented on #59
I am importing like this
[code]
But the above metioned problem is about the import statement within `bulma-tooltip.sass`
Fragment of the file (first line is the throwing error):
[code]

[2018-06-14 18:37] #59 closed

[2018-06-14 19:27] Wikiki commented on #51
Hi,

sorry your dev server is not available anymore.
Can you please provide a codepen.io so I'll be able to check your issue

[2018-06-14 19:47] Wikiki opened #60 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-06-14 19:49] #60 closed

[2018-06-15 11:22] Laraveldeep commented on #59
Wasn't able to try using src. Noticed its updated now. _dispatcher and _position included in update solved the problem. Thanks!

[2018-06-21 04:17] karanrajpal14 opened #61 "Code snippets don't expand to display full code"
Hello,

I've noticed this issue throughout the extensions website. None of the code sections seem to be expandable like in Bulma's official documentation.

Look here:
- [Accordion](https://wikiki.github.io/components/accordion/)
- [Calendar](https://wikiki.github.io/components/calendar/)
- [Carousel](https://wikiki.github.io/components/carousel/)

These are just some of the examples but the issue

[2018-06-25 02:42] melTr commented on #61
same in badge also.
Thanks

[2018-06-26 18:09] technicalchops opened #62 "Calendar doesn't provide correct date"
Hi there,

The datepicker provides the wrong date to the date input field when you click the date - it seems to -1 from the month.

This is not in my implementation, the bug is also on the demo page (Javascript Demo)

https://wikiki.github.io/components/calendar/

Thanks,

[2018-06-27 08:36] Wikiki commented on #62
Hi, this bug has been fixed with the last released. The documentation has not been updated yet. That's why you see this issue on it.

[2018-07-01 19:03] StachuDotNet opened #63 "Advertise that a vertical divider stretches to the full height?"
Small suggestion.

In the documentation for [the divider](https://wikiki.github.io/layout/divider/), I found myself asking "hmm, I wonder if the vertical divider spans the full height of its siblings."

So, I just went in, edited the HTML locally to test, and was satisfied with the subject.
![image](https://user-images.githubusercontent.com/906686/42137736-e721245e-7d3f-11e8-8302-3637b2effec0.png)

[2018-07-02 19:38] Wikiki commented on #63
Hi,

feel free to open a PR to show this ;-)

[2018-07-02 19:38] Wikiki commented on #62
Documentation has been updated. Issue is fixed.

[2018-07-02 19:38] #62 closed

[2018-07-05 19:43] #63 closed

[2018-07-09 17:24] KaotiKcr commented on #61
@Wikiki this is very simple to fix, in the documentation, you are just missing the part
[code]

[2018-07-09 19:11] #61 closed

[2018-07-10 14:10] karanrajpal14 commented on #61
Thank you @KaotiKcr and @Wikiki 😄

[2018-07-10 21:58] jordilanctot opened #65 "Compatibility with Typeahead.js and Bloodhound.js for TagsInput"
Hey,

I am currently working with Laravel 5.6 and am able to use your extensions by making use of the .attach() function you have indicated in many of the discussion threads for bulma-extensions. When trying to integrate Typeahead.js and Bloodhound,js with your TagsInput, the Typeahead and Bloodhound seem to fail but they are working when applied to a regular <input>. I was wondering if you had an

[2018-07-11 18:14] andreimoment opened #66 "bulma-tooltip: impossible to hide the tooltip on touch devices"
Open https://wikiki.github.io/elements/tooltip/

Touch the Tooltip sample button. The tooltip appears.

I would expect that touching the tooltip itself would hide it, or that touching elsewhere on the page (removing focus), would hide it. None of these actions hides the tooltip.

Any idea on how to approach this?

Showing another tooltip does hide a currently open tooltip.

[2018-07-18 16:52] dogversioning commented on #18
Adding this here as it is the only relevant google result atm for bulma extensions and Vue and maybe it will help the next person searching on this. In order to use bulma-extensions with Vue, you need to create a data element to store the results of your attach call in, so that Vue will be aware of the reactiveness inside of the virtual DOM, and then wait for the component to be mounted before act

[2018-07-19 20:08] Pakovia opened #67 "bulma-carousel"
i have a problem with carousel

thank you

[2018-07-19 20:16] Wikiki commented on #67
It seems you are trying compile a javascript file using a css processor. This can't work

[2018-07-19 20:23] Pakovia commented on #67
I am using vue-cli3 don't know what do i have to change 😀

[2018-07-21 05:08] grosch opened #68 "Month picker"
Would be nice if it were possible to have a component that just lets us pick the month/year instead of having to pick specific date within the month.

[2018-07-21 06:17] grosch opened #69 "Doesn't work with Safari?"
If I use this in Chrome on an input it seems to work well.  If I open it in Safari it's just a text field.

I should not I have not figured out how to include the javascript yet.  I'm using angular, so in my angular.json I just add the bulmaCalendar.min.js file to the scripts area.  Not sure how to "call" it from my .ts file yet though.

[2018-07-21 18:49] grosch opened #70 "Horizontal form doesn't allow for multiple textarea rows"
[code]

That still shows just a single row.

[2018-07-21 18:50] grosch commented on #70
Sorry, put this in the wrong repo.

[2018-07-21 18:50] #70 closed

[2018-07-22 22:16] frederikhors opened #71 "Badge and navbar-item."
I have problem with `badge` and `navbar-item`.

It appears over the top!

[2018-07-28 12:12] MrMonotone commented on #62
This is still and issue on latest

[2018-07-31 09:18] NuruddinBadawi opened #73 "npm version not contains style files"
please check the last version, I installed from NPM but doesn't contains style file

[2018-07-31 09:19] NuruddinBadawi commented on #73
some of them like `checkradio`

[2018-08-02 10:23] powergt opened #74 "it's possible import bulma-extension directly from CDN?"
i use bulma importing it from CDN.
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

i have tryed to add extensions adding a line:
<script src="https://cdn.jsdelivr.net/npm/bulma-extensions@2.2.1/dist/js/bulma-extensions.min.js" integrity="sha256-GKBVbyTU0cwZzeBVLyjQE79ktHL9+Rn1gpDwfX/PoAo=" crossorigin="anonymous"></script>
but don'work.

[2018-08-02 20:46] Observablerxjs opened #75 "timePicker"
Would it be possible to have a timepicker as the one in PrimeNG (Time Only) ([https://www.primefaces.org/primeng/#/calendar](url))

[2018-08-09 16:15] quasipickle opened #76 "Calendar active variable"
The calendar plugin needs an additional variable for defining the colour of the active date.  Currently it's hardcoded to `$primary`

[2018-08-16 21:27] Wikiki commented on #69
Hi,

Please use the last release with the new <code>.attach()</code> method.

[2018-08-16 21:53] grosch commented on #69
Can you help me with the syntax for that when I'm using this in an Angular application please?

[2018-08-16 21:56] Wikiki commented on #69
See https://wikiki.github.io/components/calendar/

[2018-08-16 21:57] grosch commented on #69
That's not a typescript example.  There's not a "bulma" object available for example, and if I call "new BulmaCalendar" still there's not a new `attach` method available.

[2018-08-16 21:59] Wikiki commented on #69
As described in the documentation : don't call new but directly the .attach() method. It's pure javascript so you should be able to use it within your typescript code

[2018-08-16 22:03] grosch commented on #69
If I just do `bulma.attach` then I get a typescript error on `bulma` not being defined.  I had bought your book on Bulma hoping for a bit more info in the Angular section as I'm likely doing things wrong.

In my angular.json I added your stuff to styles and scripts:

[code]

Am I supposed to be doing something different to make that available in my component?

[2018-08-16 22:05] Wikiki commented on #69
I think you're mixing Jeremy Thomas (Bulma's creator) and I (Bulma Extensions's creator).
You try to use bulma.attach() but the extension is called bulmaCalendar as described into the documentation. Please read the documentation carefully

[2018-08-16 22:07] grosch commented on #69
Yes I was, sorry.  bulmaCalendar has the same issue from typescript of not being defined.

[2018-08-16 22:12] Wikiki commented on #69
Can you please try to replace the source code int the file <code>node_modules/bulma-calendar/dist/js/bulma-calendar.min.js</code> with the source xode of the same file from this repositroy ? (To be sure it's not an issue with the npm version)

[2018-08-16 22:27] grosch commented on #69
They're the same.  I think this just has something to do with the way the javascript is imported into an angular application.

[2018-08-18 23:33] maurciobuffa opened #77 "is it possible to change the carousel's size?"
Hi, it is possible reduce the size of a carousel 's component? I want to reduce it in desktop. In mobile it's look great, but in desktop it looks so big.
Thanks.

[2018-08-19 08:51] Wikiki commented on #77
Hi,

Try to put it into a column with sizes modifiers.

[2018-08-19 12:33] maurciobuffa commented on #77
Solved!
Many thanks @Wikiki

[2018-08-20 19:27] #77 closed

[2018-08-30 23:31] acidjazz opened #78 "timeline icons not centered"
it's very slight but it triggers the OCD

![image](https://user-images.githubusercontent.com/967369/44884751-d9868d80-ac82-11e8-8c63-072bbfc0ee17.png)

[2018-09-01 19:26] frederikhors opened #79 "Changelog for 2.2.2?"
Changelog for 2.2.2?

[2018-09-04 12:58] katieschofield89 opened #80 "Do you have any javascript validation examples for your multi step form?"
Hi I'm using the steps wizard to have multiple stages in a form. how do you validate each stage and stop the next button from going to the next stage if the current stage that you are on is not valid?

[2018-09-04 19:00] MHassanSaqib commented on #20
"StepsWizard is not defined".  I have imported bulma-steps.
import bulmaSteps from 'bulma-extensions/bulma-steps/dist/bulma-steps'
Could you please help me to resolve the issue?

[2018-09-04 19:39] MHassanSaqib commented on #40
How can I use this function in vue.js component? instead of writing in main js file? Could you please help me to figure out?

[2018-09-04 19:46] renexdev opened #81 "bulma-extensions + react + webpack"
Hi there, I'm trying to implement bulma-extensions (accordion, carrousel, etc) in a react component using webpack. Using the sass templates in my project, as indicated in the documentation and in chapter 13 of your book, results in purely static extensions with no functionalities. I can't figure out how to proper make the dynamic behaviour of the extensions work. Thanks in advance,

[2018-09-06 07:55] Lahori-Jawan opened #82 "Bulma-Carousel Does't work for single Item"
I am experimenting Bulma carousel (css only) for personal use & found that It does't work for single item. I thought my `.js` logic had flaw but to verify I went to online [docs](https://wikiki.github.io/components/carousel/#navigation) and just deleted all except the one with `order: 1` item and noticed same issue as mine. Is it Intentionl or Bug?

[2018-09-06 08:26] Wikiki commented on #82
Hi,

You're right. Currently it works with a least 3 items.

[2018-09-06 08:43] Lahori-Jawan commented on #82
mine works with atleast 2 :)

[2018-09-06 09:07] Wikiki commented on #82
It's a bug. I didn't figure out how to fix it yet.

[2018-09-06 11:39] Lahori-Jawan commented on #82
@Wikiki can you explain me how the sliding transition works? I can't get my head around it. Thanks

[2018-09-06 12:27] Wikiki commented on #82
It's inspired by https://blog.envylabs.com/the-order-property-flexbox-carousels-87a168567820

[2018-09-08 09:36] SodomousPrime commented on #75
It would be really good if there where a time picker that is as clean as the date picker.

[2018-09-17 13:32] saravanabalagi opened #83 "Divider background bug"
In Divider css, `is-divider` contains explicit `#fff` which does not allow this component to be used anywhere where the background is not white unless explicitly overridden.

An example where divider is used in a grey background:

![image](https://user-images.githubusercontent.com/8567893/45625985-22618300-ba86-11e8-81d7-816809a418ea.png)

[2018-09-26 15:52] diogo5santos5 opened #84 "Buttons in bulma-steps doesn't work Angular2"
I have this HTML code in a child component:

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/css/bulma-steps.min.css">

    <div class="steps" id="stepsDemo">
      <div class="step-item is-active is-success">
        <div class="step-marker">1</div>

[2018-09-26 21:43] ckz8780 commented on #73
Is this due to the typo `"style": "./dist/css/bulma-extensions.moin.css"` on line 101 of `package.json`? Forgive me if not. I'm new to this :)

[2018-09-26 22:33] ckz8780 opened #85 "Import enhancements?"
Hello! I might be importing this incorrectly and if so please feel free to close this issue but I wanted to share my process and a potential enhancement.

As a disclaimer, I'm using webpack and have customized some standard bulma variables, so here's some selected relevant info from my implementation:

**my project's package.json**
[code]

**bulma-index.js**

`require("./mystyles.scss");`

**mysty

[2018-09-27 06:04] Wikiki commented on #73
Thanks @NuruddinBadawi. It should be related. I'll update it tonight.

[2018-10-08 01:50] barayuda commented on #85
Thank you, I just following this step. And worked smoothly.

+1 for your suggestion, I hope any proposal for this in next update. cc @Wikiki

Thank you. Awesome library!

[2018-10-08 12:13] Wikiki commented on #84
Is the DOM really loaded when you call <code>bulmaSteps.attach()</code> ?

[2018-10-11 02:11] cirix opened #86 "angular-client 6 problem when @import '~bulma-extensions'"
Hi guys,
I have the following error when adding to my style.sass the following command:

`import '~bulma-extensions'`

Module build failed: Not enough space
...42.3 kB  [rendered]
chunk {main} main.js, main.js.map (main) 51.8 kB [initial] [rendered]
chunk {polyfills} polyfills.js, polyfills.js.map (polyfills) 227 kB [initial] [rendered]
chunk {runtime} runtime.js, runtime.js.map (runtime) 8.31 kB

[2018-10-17 12:22] rowild opened #87 "Is there a CDN ressource available for your project?"
Just an idea: I think a CDN for your lib would be great. That way we easily use it on platforms like codepen.

So far I didn't find one - is there a CDN? If not, are there any plans to provide your lib from a CDN?

Thanks!

[2018-10-23 17:03] aocneanu opened #89 "Indeterminate with background-color"
Hi,

This is a bug / feature request.

It seems that the indeterminate is not working when combined with `has-background-color`.

Support for this would be appreciated.

Thanks.

[2018-10-29 02:44] rolu315 commented on #34
I just added "bulma-extensions/" to each extension import in the src/sass/index/sass file. Then referenced @import "bulma-extensions/src/sass/index.sass"; and it finally started for me. Not for sure if this was the best practice or not, but it worked for me :)

[2018-11-06 09:24] KiranRW1 opened #90 "extensions import"
@Wikiki Is it possible for us to link a precompiled css for all these extensions like we do with Bulma framework?

`<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />`

[2018-11-06 10:01] #90 closed

[2018-11-07 10:38] Wikiki commented on #74
Hi,

you can use jsDelivr. Just find the package using its search engine.

for example: https://www.jsdelivr.com/?query=bulma-calendar

[2018-11-07 10:38] #74 closed

[2018-11-07 10:42] #87 closed

[2018-11-07 10:45] Wikiki commented on #86
Hi,

the default impoe uses the sass file.
Specify the js dist folder to fix this error:
[code]

[2018-11-07 10:53] #67 closed

[2018-11-14 15:46] Grummfy commented on #73
hello,
this is really anoying, when the new release will be made?

thanks

[2018-11-14 17:59] Wikiki commented on #73
Hi,

should be good now.

[2018-11-14 17:59] #73 closed

[2018-11-18 14:55] sharmaankit25 commented on #18
window.Vue = require('vue');
import Buefy from 'buefy';
import {bulmaAccordion,bulmaSteps} from 'bulma-extensions/dist/js/bulma-extensions.min';
Vue.use(Buefy, {
    defaultIconPack: 'fas',
});

const app = new Vue({
    el: '#app',
    mounted:function(){
        bulmaAccordion.attach();
        bulmaSteps.attach();
    }
});

[2018-11-19 10:39] lbssousa commented on #18
This is an example of Vue component I've wrote for a project, which wraps bulma-carousel. You could extend it for any other bulma-extension.

(NOTE: This example depends on another component I've written for bulma-carousel navigation buttons, but it's omitted here).

[code]

[2018-11-22 05:19] cholojuanito opened #91 "Bulma Steps Extension does not have the correct variables"
I am working on a project for school. I love the work you guys do at Bulma and decided to use your extensions. Specifically the steps extension. I am using Vuejs as my frontend. So I followed the docs online but found that the "steps-segment" class doesn't exist in any of the sass files for the "bulma-steps" extension.

I installed all the bulma extensions via npm and am using Laravel mix to webpa

[2018-11-22 05:21] cholojuanito commented on #91
Also, follow up comment. I used dev tools on your documentation site and whatever css file you are using for that appears to have the "steps-segment" variable. So whatever css/sass you are using on that should work.

[2018-11-22 05:30] #91 closed

[2018-11-22 05:33] cholojuanito commented on #91
Okay, so the issue is that your documentation at https://wikiki.github.io/components/steps is correct!
I was using the Bulma extensions page to try and get the steps working.

**FYI for others:**
***Incorrect documentation at:***
https://octoshrimpy.github.io/bulma-o-steps
https://aramvisser.github.io/bulma-steps
both of which are routed to from the https://bulma.io/extensions/ page. So someone at

[2018-11-25 20:41] karahan opened #92 "Printing issues in checkradio"
When i try to print (as in printing out a piece of paper) a checkbox, it dissapears and i end up with an empty spot. The same happens with a checked radio button.

[2018-11-29 13:35] loozhengyuan opened #93 "Missing tab on Calendar of documentation site"
On [https://wikiki.github.io/components/calendar/](https://wikiki.github.io/components/calendar/), the tab is not displayed, which is inconsistent with the rest of the extensions

[2018-12-03 18:59] AminuSufi585 commented on #34
Thanks @rolu315 your method works just fine!

[2018-12-05 06:14] andrewkusuma opened #94 "Implement to react?"
is there any documentation how to implement bulma extension such as calendar to react.I found vue Integration in bulma calendar. Anyone can provide me documentation? I did not find to integrate calendar bulma for my react apps

[2018-12-05 11:44] klaumann commented on #94
I have till now just created my own components with the normal jsx syntax and used bulma extensions as HTML normally.... Bet there is a better way for this, but for now this works great, as I also have fulll control over my components...

[2018-12-05 16:09] andrewkusuma commented on #81
What I am done is follow some step integreate it to my react component, but get confused while integrate bulma calendar js to my component. Input date only show default style HTML5

here I create gist [link](https://gist.github.com/andrewkusuma/0addc178255d512389ed43dd1bf279c1)

little bit confused at line 3 and 4

[2018-12-05 16:12] andrewkusuma commented on #94
What I am done is follow some step integreate it to my react component, but get confused while integrate bulma calendar js to my component. Input date only show default style HTML5

here I create gist [link](https://gist.github.com/andrewkusuma/0addc178255d512389ed43dd1bf279c1)

little bit confused at line 3 and 4

[2018-12-07 15:07] klaumann commented on #94
I really don't know what your problem is, your gist looks pretty straightforward in my eyes...

[2018-12-07 19:09] Wikiki commented on #94
Hi,

Try to use a text input type. I found no way to override default html5 date behavior.

[2018-12-08 02:55] keyuls commented on #74
For all extensions:
CSS:https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma-extensions.min.css
JS:https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/js/bulma-extensions.min.js

All packages list
https://www.jsdelivr.com/package/npm/bulma-extensions

[2018-12-11 15:16] Bally26 commented on #34
@mIcHyAmRaNe
Is Carousel navigation working for this?
Or need to handle this manually.

[2018-12-21 17:14] CarlVerret opened #95 "Divider without text (data)"
Hi,

Would it be possible to use the vertical divider without any text content and not displaying a blank between the lines ?

Thanks for your great work

Best regards

[2018-12-21 17:19] CarlVerret commented on #95
Just answered myselft!

the divider default background is :
`background: $white`
just changed it to
`background: $divider-background-color`
the white square is now gone !

[2018-12-21 17:20] #95 closed

[2018-12-25 12:11] moataz1991 opened #96 "different calendar support"
Hello,

can you please support different calendar mode in the date-picker ?
like a select field to choose between **Gregorian** calendar and **Hijri** calendar
based on option when init the control to contains gregorian , hijri,chines...etc

[2018-12-26 15:08] flowdee commented on #75
+1

[2018-12-26 19:30] EnderDev opened #97 "Adding 'off' option for switches."
Hi, when I was playing around with switches and using them in forms, I realized that if the switch isn't checked it won't send any data. So if both switches are off, no post params are sent. If they are checked they return 'ok'. Could you add a option, so it shows 'off' if it's not checked.

If not, is there a way around this?

Thanks, EnderDev

[2018-12-26 23:12] draskog opened #98 "bulma-calendar + webpack sass"
Hi,

I'm getting error in webpack for bulma-calendar on line 210 with `width: 100%;` could you please remove semicolons.

Thanks,
Drasko

`ModuleBuildError: Module build failed (from ./node_modules/sass-loader/lib/loader.js):
                width: 100%;`
`Semicolons aren't allowed in the indented syntax.
                width: 100%;`
`in /node_modules/bulma-extensions/bulma-calendar/dist/css/bulm

[2018-12-26 23:40] #98 closed

[2018-12-26 23:41] draskog commented on #98
Just saw it is sorted with #115

[2019-01-08 12:49] Thatkookooguy opened #99 "Can't seem to make tagsinput to work"
Here's a minimal pen of what I'm trying:
https://codepen.io/neilkalman/pen/roKqrJ?editors=1000

basically, I'm including the css and javascript files required along side a bulma theme, but it looks like the input is never activated (it remains a normal input text field). I copied the input snippet from the documentation.

Can someone please point to what's missing from my pen to make this work?

t

[2019-01-12 01:16] frk93 opened #100 "Carousel doesn't work on using node_modules carousel.min.js"
Hi,
It seems that the carousel doesn't seems to work with the js included in the npm version `npm i bulma-extensions`.

When ever i tried to add the js file from modules from one of youe method it doesn't seems to work
`<script type="text/javascript" src="/node_modules/bulma-extensions/bulma-carousel/dist/bulma-carousel.min.js"></script>`

but when i used this tag from CDN it works fine
`<script s

[2019-01-12 13:03] vince015 opened #101 "Nuxt integration"
Does anyone have luck integrating this with Nuxt? Can't make it work.

[2019-01-21 14:13] thomis commented on #99
I had the same problem.
Looking at the source of the demo page towards the end you can see they also did

 `<script>bulmaTagsinput.attach();</script>`

In addition I had to load the the javascript file like so

`import bulmaTagsinput from "bulma-extensions/bulma-tagsinput/dist/js/bulma-tagsinput.min.js"`

Hope that helps.

[2019-01-23 21:03] Wikiki commented on #100
Hi @frk93,

I'll look into it.

[2019-01-23 21:07] Wikiki commented on #97
Hi,

this is the default behavior for checkboxes.
Maybe you can try solution like: https://stackoverflow.com/questions/1809494/post-unchecked-html-checkboxes

[2019-01-23 21:07] #97 closed

[2019-01-25 13:04] Thatkookooguy commented on #99
@thomis yes! that solved it! should have looked at the demo source code 😅

Thanks for helping out!

[2019-01-25 13:04] #99 closed

[2019-01-30 03:02] shredmaster commented on #101
I just include the component directly. works for me.
@import "~bulma-extensions/bulma-timeline/src/sass/index.sass";

[2019-02-04 13:09] jakub-zawislak opened #102 "Checkradio - multiline label doesn't fit"
It doesn't fit because the `<label>` has some `margin` and `padding-left`. To fix it, the parent `<div class="field">` should have `padding-right` that matches `<label>`'s padding and margin.

![](https://i.imgur.com/U6Nu8Sp.png)
![](https://i.imgur.com/hA5h8LP.png)
![](https://i.imgur.com/WFSEaVG.png)

[2019-02-08 22:22] simon-lorenz opened #103 "Using bulma extensions broke my angular 7 build"
Hey there,

I had a problem using bulma extensions in my angular 7 app.

After adding ```"./node_modules/bulma-slider/dist/css/bulma-slider.min.css"``` to the styles array in angular.json, the production build broke with a cryptic webpack error message:

[code]

I found a thread at [https://github.com/jakubpawlowicz/clean-css/issues/1042](https://github.com/jakubpawlowicz/clean-css/issues/1042#iss

[2019-02-09 06:15] vince015 commented on #101
I followed the instructions in this [page](https://wikiki.github.io/#integration), under From NPM but I am getting this:

`Invalid CSS after "!": expected 1 selector or at-rule, was '!function(e,t){"obj'
      in <project_dir>/node_modules/bulma-carousel/dist/js/bulma-carousel.min.js (line 1, column 1)`

My main scss file looks like this:

`
@import "~bulma";
@import "~buefy/src/scss/buefy";

@imp

[2019-02-15 17:20] toanmx0101 commented on #66
+1

[2019-02-18 17:03] Wikiki commented on #75
Hi,

please have a look at my calendar extension v6.0.0 which inclues timepicker.

Regards

[2019-02-18 17:03] #75 closed

[2019-02-18 17:04] Wikiki commented on #76
Hi,

please have a look at my calendar extension v6.0.0 which inclues multiple colors management.

Regards

[2019-02-18 17:04] #76 closed

[2019-02-18 17:06] Wikiki commented on #103
Hi @simon-lorenz,

thanks for your feedback.
I'll have a look to understand why my CSS generate this issue.
If you have any idea on how to fix it, please share ;-)

regards

[2019-02-18 17:08] Wikiki commented on #101
Hi,

please use the full path to the sass file in your import rule
```@import "~bulma-extensions/bulma-timeline/src/sass/index.sass"```

the default file provided by ```~bulma-carousel```is the the JavaScript filepath not the Sass one.

regards

[2019-02-18 17:08] #101 closed

[2019-02-18 17:17] Wikiki commented on #100
Hi,

please try to add ```js``` folder path within your firdt try path:

```<script type="text/javascript" src="/node_modules/bulma-extensions/bulma-carousel/dist/js/bulma-carousel.min.js"></script>```

[2019-02-18 17:18] Wikiki commented on #89
Hi,

can you please precise on which extension ?

[2019-02-18 17:19] Wikiki commented on #94
Hi,

the new v6.0.0 release should work in your context.
Please try it and let me know.

regards

[2019-02-18 17:20] Wikiki commented on #86
The right path is the following (not the js one - sorry):

```@import '~bulma-extensions/dist/css/bulma-extensions.sass```

[2019-02-18 17:20] #86 closed

[2019-02-18 17:22] Wikiki commented on #81
Hi @renexdev,

can you please share some code of your project so I can see what's missing and how to help you.

[2019-02-20 06:05] aocneanu commented on #89
Sure, the checkradio extension.

[2019-02-20 14:59] CarlVerret opened #104 "extension request : treeview"
Hi,

Have you ever considered to make a treeview extension ?

Thanks

[2019-03-03 12:51] Wikiki commented on #104
Hi,

not yet.
But can add it into my "futur extension" list (which is too big regarding the free time remaining but I'll try to do my best)

[2019-03-03 12:53] Wikiki commented on #66
Hi,

it's related to the major touch issue with this extension. I'll work on it to see how to handle touch devices properly (just missing free time to do it).

[2019-03-03 19:52] andreimoment commented on #66
I’ve solved this in the past by adding a js event on (I believe) the body
which would close any open tooltip. At the time I could not find a css only
solution.

That was using another library not bulma.

http://tangomanual.com/tango-lexicon/generator/
On Sun, Mar 3, 2019 at 4:53 AM Wikiki <notifications@github.com> wrote:

[2019-03-15 12:20] bobking256 opened #105 "@import timepicker"
I am trying to use latest version of bulimia-calendar but when I try to build I get @import timepicker issue.  "Can't find stylesheet to import".  Is there a way to resolve?

ERROR in ./resources/sass/app.scss
Module build failed (from ./node_modules/css-loader/index.js):
ModuleBuildError: Module build failed (from ./node_modules/sass-loader/lib/loader.js):

@import timepicker
       ^
      Can't

[2019-03-15 12:23] Navrug42 commented on #105
Hi,

Can you please give more details about the build command you're using and the steps you've followed ?

[2019-03-15 23:57] bobking256 commented on #105
$ npm run dev

Sent from my iPhone

[2019-03-16 00:33] bobking256 commented on #105
working on a mac.  $npm run dev

[2019-03-16 00:41] bobking256 commented on #105
Here is a complete dump:

ERROR in ./resources/sass/app.scss
Module build failed (from ./node_modules/css-loader/index.js):
ModuleBuildError: Module build failed (from ./node_modules/sass-loader/lib/loader.js):

@import timepicker
       ^
      Can't find stylesheet to import.
   ╷
19 │ @import timepicker
   │         ^^^^^^^^^^
   ╵
  node_modules/bulma-extensions/bulma-calendar/dist/css/bulma-c

[2019-03-16 14:37] bobking256 commented on #105
FYI, I get the same error if I import only the calendar (via $ npm install bulma-calendar)

[2019-03-16 19:38] jmderueda opened #106 "Checkbox: it's rendering as an oval instead of circle"
Hi all,

The outside circle and the inner red circle are perfectly centered (done in sketch). As you can see they do not are completely aligned. When I zoom in they become perfectly aligned.

![image](https://user-images.githubusercontent.com/3317934/54480632-e49ca780-47e7-11e9-9639-27a7a87030e9.png)

PS I think this is related to sub-pixel rendering, but I am not an expert. Here is some useful in

[2019-03-16 19:39] jmderueda opened #107 "checkbox: radius not working"
The radius parameter is not working. Every other parameter is working. I tested with px and rem or even $radius*2, no different result.

[2019-03-16 21:30] Wikiki commented on #105
Hi,

Thanks for logs. I'll have a look into it.

[2019-03-16 21:31] Wikiki commented on #106
Thanks for the hint. I'll check that

[2019-03-17 07:32] PhilAnderson1 opened #108 "Error importing switch extension"
I have the following lines in my project file, with bulma-switch.sass added to the bulma directory as per the instructions:

@import "bulma-0.7.4/bulma.sass";
@import "bulma-0.7.4/sass/extensions/bulma-switch.sass";

And I'm getting the following error:

sass --sourcemap=none sp.scss:sp.css
Error: Incompatible units: 'rem' and 'px'.
        on line 14 of bulma-0.7.4/sass/extensions/bulma-switch.sa

[2019-03-17 12:08] saSinclair commented on #50
+1

[2019-03-18 19:54] #46 closed

[2019-03-18 20:22] #108 closed

[2019-03-18 20:26] Wikiki commented on #85
main sass file has been updated with relative path and package.json now includes <code>style</code> and <code>sass</code> fields to import the right file based on context.

[2019-03-18 20:26] #85 closed

[2019-03-24 11:57] lucafaggianelli opened #109 "bulma-timeline import error"
Hi, I import bulma-timeline as suggested in the website but it cannot find the sass file, notice that other extensions work:

[code]
I noticed that timeline package.json is missing the `main` entry, so i was able to import it with:
[code]

[2019-03-24 14:53] lucafaggianelli opened #110 "bulma-timeline icon size"
Is it possible to increase icon size of timeline markers, so basically supporting a class like `is-medium` and `is-large`:

[code]

[2019-03-25 11:35] Wikiki commented on #109
Hi,

I'll update package.json file to include correct entry points.

[2019-03-25 11:48] Wikiki commented on #105
Hi,

I suppose its because the import use the file in <code>dist/css/bulma-calendar.sass</code> so, timepicker is not available at this place.
Can you please uwith the version in "master" branch it should have been fixed. (I'll update npm version soon)

[2019-03-25 11:50] #82 closed

[2019-03-25 12:22] Wikiki commented on #103
I'm wondering if its not related to the wrong content in my sass file lines 151, 160, 169 <code>transition: transform .2s ease, -webkit-transform .2s ease</code>

I've updated the source file and the minified one (not on npm yet). Can you try using the last source from github in your project and tell me if its working ?

If it still not working, can you please share a basic Angular Project with me

[2019-03-31 19:19] simon-lorenz commented on #103
Thanks for investigating, that did the trick!
I updated bulma-slider.min.css manually and it works now.

[2019-03-31 20:36] #103 closed

[2019-04-02 10:03] ryeteezy23 commented on #74
Hi

im using wordpress, cdn for calendar dont work. i placed it in my header.php and footer.php
any advices?

[2019-04-02 10:07] Wikiki commented on #74
Hi,

Don't you forget to include JS file too and call <code>bulmaCalendar.attach()</code> method to instantiate the plugin ?

[2019-04-02 10:19] ryeteezy23 commented on #74
Yes and still dont work :(

[2019-04-02 12:12] Wikiki commented on #74
Can you please share your code ?

[2019-04-02 12:54] ryeteezy23 commented on #74
In my header.php

    <?php wp_head(); ?>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/css/bulma- extensions.min.css">

In my footer.php

    <?php wp_footer(); ?>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.0/dist/js/bulma-extensions.min.js">

Latest created js file for bulma calendar component global.js

// Ini

[2019-04-02 13:04] Wikiki commented on #74
Is there any error in the browser console ?

[2019-04-02 13:07] ryeteezy23 commented on #74
No error bro. In my console, css and js are already imported but i dont know why the date element cant override the bulma-calendar..

[2019-04-02 13:10] Wikiki commented on #74
Correction: you can't use link html tag to include javascript. You must use the following code instead

[code]

[2019-04-02 13:13] ryeteezy23 commented on #74
I try dude, I paste the bulma-calendar.min.js ito my assets and register it to functions.php

[2019-04-02 13:21] Wikiki commented on #74
As you can see here: https://codepen.io/CreativeBulma/pen/wZapyb it's working using JsDelivr files.

You gave me the code
In my header.php
[code]
In my footer.php
[code]

But the code in your footer can't work. To include a JavaScript in your file you must use <code><script src="https://cdn.jsdelivr.net/npm/bulma-calendar@5.0.3/dist/js/bulma-calendar.min.js"></script></code>.

[2019-04-02 13:24] ryeteezy23 commented on #74
Oh i see nice! What a dumb error of mine. Ill try it again tomorrow!

[2019-04-02 13:26] Wikiki commented on #74
no problem. We all do this kind of dummy errors ;-)

[2019-04-02 13:27] ryeteezy23 commented on #74
I liked Bulma because of its simplicity. Two thumbs up for you man! You saved us!

[2019-04-02 13:30] Wikiki commented on #74
I oove it for the same reason and that's why I'm creating these extensions and having creating https://creativebulma.net to try developing the ecosystem around bulma.

[2019-04-03 02:27] ryeteezy23 commented on #74
Hi why bulmaCalendar.attach is not defined after i properly set the link and script via JsDelivr files?

[2019-04-03 06:53] Wikiki commented on #74
Did you try v6.0.4 or 5.0.3 ? Tey the last version (6.0.4) as in the codepen

[2019-04-03 06:57] ryeteezy23 commented on #74
v5.0.3, how did you integrated the bulmaCalendar.attach() ?

[2019-04-03 06:59] Wikiki commented on #74
In the url just replace 5.0.3 by 6.0.4

[2019-04-03 07:03] ryeteezy23 commented on #74
How about this part, im having error in my console that bulmaCalendar.attach not defined

`// Initialize all input of type date
var calendars = bulmaCalendar.attach('[type="date"]', options);

// Loop on each calendar initialized
for(var i = 0; i < calendars.length; i++) {
// Add listener to date:selected event
calendars[i].on('select', date => {
console.log(date);
});
}

// To access to bulmaCale

[2019-04-03 07:05] Wikiki commented on #74
Have you fixed the way you include the javascript part and use the last version (6.0.4)?
Also, are you calling bulmaCalendar.attach() after the inclusion of the jsdelivr file ?

[2019-04-03 07:07] ryeteezy23 commented on #74
Yes, i put the latest cdn for calendar.

[2019-04-03 07:13] Wikiki commented on #74
And ", are you calling bulmaCalendar.attach() after the inclusion of the jsdelivr file ?"

[2019-04-03 07:14] Wikiki commented on #74
It llooks like your code is called but the calendar js file is not loaded

[2019-04-03 07:14] ryeteezy23 commented on #74
Yes in my global.js

I got my first error in var calendars = bulmaCalendar.attach('[type="date"]', options);
where bulmaCalendar.attach() is not defined.

[2019-04-03 07:15] Wikiki commented on #74
Please share your projet code on a git repository so I'll be able to help you.

[2019-04-05 13:50] abadilah1 commented on #17
it doesn't work on angular 7

[2019-04-05 14:28] Wikiki commented on #17
Could you please share a boilerplate Angular 7 project including the extension with me ?So I'll be able to try to find out what's wrong (I'm not an Angular guy but I'll try to find something)

[2019-04-05 15:56] abadilah1 commented on #17
AppComponent.html:3 ERROR TypeError: Cannot read property 'attach' of undefined

[2019-04-05 16:07] abadilah1 commented on #17
so after adding both the css and js files in my Angular.json, i imported the bulmaCarousel in my HeaderComponent.ts as ''import { bulmaCarousel } from 'bulma-carousel/dist/js/bulma-carousel.min.js';''
and initilize the .attach method as ''public carousels = bulmaCarousel.attach('.carousel');''
so i got this error back => ''ERROR TypeError: Cannot read property 'attach' of undefined''

[2019-04-05 16:12] Wikiki commented on #17
And you have no error with the line <code>import { bulmaCarousel } from 'bulma-carousel/dist/js/bulma-carousel.min.js';</code> ?
It's weird that <code>bulmaCarousel</code> object is null after importing it.

[2019-04-08 09:23] abadilah1 commented on #17
I used npm to install the package so definitely it is only dist folder I will have which is from the node_modules directory, I don't have the src folder

[2019-04-08 09:37] abadilah1 commented on #17
Angular has so many possible ways to use, so if you have any better option just  help with the steps pls, i think that's the best thing to do

[2019-04-10 07:33] psaroj554 commented on #81
hello there, I am new to bulma and trying to implement bulma-extensions in gatsby. so I have added few components like calendar, accordion, steps, etc. but I'm not getting the desired output, can you guide me where I'm getting wrong, I'm sharing my repository please check and suggest me.
https://github.com/psaroj554/bulma-extensions

[2019-04-10 07:35] psaroj554 opened #111 "Bulma-Extension + Gatsby"
hello there, I am new to bulma and trying to implement bulma-extensions in gatsby. so I have added few components like calendar, accordion, steps, etc. but I'm not getting the desired output, can you guide me where I'm getting wrong, I'm sharing my repository please check and suggest me.
https://github.com/psaroj554/bulma-extensions

[2019-04-13 15:08] bobking256 commented on #105
Sorry for delay, I was distracted with another project.  I copied and pasted master branch.  Perhaps this is not the right approach as I am now getting other errors:

ERROR in ./resources/sass/app.scss
Module build failed (from ./node_modules/css-loader/index.js):
ModuleBuildError: Module build failed (from ./node_modules/sass-loader/lib/loader.js):

	&.is-#{$name}
^
      Top-level selectors may

[2019-04-26 15:23] Wikiki commented on #105
Fixed. See https://github.com/Wikiki/bulma-calendar/commit/e47731e689f69480fbc1726a57acb213f67dd399

[2019-04-26 15:23] #105 closed

[2019-04-27 11:18] philippeluickx commented on #83
Looking at the code, there has been a new parameter introduced:
$divider-content-background-color

It's not documented though.

[2019-05-01 13:27] avalloneandrea opened #113 "Slider not visible"
As the title says, bulma-slider is not visibile since version 6.2.5.
The element is present in the HTML page, but it's not visible, and it's not possibile to interact with it.

[2019-05-02 11:07] jeraldpunx opened #114 "Bulma steps"
How to use javascript/jquery in stepper?

I have no idea on how to do the change the last step to finished button. It's hard for me cause I am still new on these type. and only shows `Javascript Options` in documentation, didn't even mention how to implement it on javascript/jqeury.

[2019-05-02 12:22] #114 closed

[2019-05-12 17:36] zdr00 commented on #16
If anyone else is looking to include bulma-extensions in firestarter I made it by doing this:

- Install the bulma-extension or just the package you want:

`npm install bulma-extensions`

- Include the .min.css file after the bulma import in scss main file **styles.scss**:

[code]

- When the package needs javascript include the cdnjs script tag in **index.html**:

`<script type="text/javascript"

[2019-05-13 07:58] lewisfff opened #115 "Update checkradio version"
There is a semicolon on line 190 of the checkradio index.sass, which is fixed in its own repo but this meta repo is referencing an older version.

[2019-05-15 15:39] chrisb-bacon opened #116 "Unrecognized text Switch"
Bulma extensions Version 6.2.5
Bulma 0.7.4
node-sass -v 4.11.0+
Lexical error on line 1: Unrecognized text.
  Erroneous area:
1: $switch-height - ($switch-paddle-offset * 2)

--downgrading works well

Build is breaking and the paddle never displays

[2019-05-18 09:13] Wikiki commented on #111
Hi,

what do you mean by "I'm not getting the desired output," ?
Please provide some details about what you're doing and issues you're facing.

[2019-05-18 09:31] #109 closed

[2019-05-18 09:31] #113 closed

[2019-05-18 09:31] #115 closed

[2019-05-18 09:31] #116 closed

[2019-05-18 11:18] Wikiki commented on #51
bulma-accordion package is abandoned in favor of http://github.com/creativebulma/bulma-collapsible.
Please use this new package instead and open an issue on its repository if needed.

[2019-05-18 11:18] #51 closed

[2019-05-20 06:42] fatahn commented on #116
I get the same error when building my react app
[code]

 "node-sass": "^4.12.0",
"node": "10.15.3",
 "yarn": "1.16.0",
"bulma": "^0.7.4",
"bulma-extensions": "^6.2.5",

[2019-05-21 19:10] schematis commented on #94
I got it to work by calling `bulmaCalendar.attach()` inside of `componentDidMount()`.

[2019-05-28 17:42] ashoktandan007 commented on #20
how to prevent from going to next step if validation fails

[2019-05-31 14:34] nhaberl opened #119 "Quickview additional variables"
Would be great to customize the width the panel slides in on different viewports.
e.g. on mobile you wanna overlay the whole viewport maybe and on desktop 30 % and on tablet maybe 50%

Awesome work!

[2019-06-20 10:42] elhigu opened #120 "bulma-slider is out-of-date and doesn't compile"
https://github.com/Wikiki/bulma-slider/issues/41

[2019-07-10 07:37] kstastny opened #121 "datetimepicker-clear-button in bulma-calendar submits a form"
Hi,

I would like to use bulma-calendar in a form. However, when pressing the X (button with class `datetimepicker-clear-button`) to clear calendar value, the form is submitted and the application redirects me to localhost (on development machine).

Is there a way to stop submitting the form?

The only way I found to do it is modifying the calendar HTML and changing `<button class="datetimepicker-

[2019-07-31 11:32] OluwatobilobaLight opened #122 "Bulma FormValidation"
Hello Bulma crew, I have been using your framework and I am in love. But is it possible if we have a formvalidation extension for our forms? I haven't found any plugin to use with your framework. It'd be a nice tool to have.

Thank you

[2019-08-03 19:44] avihenri opened #123 "Timeline not working for me"
Hello,

I am pretty new to bulma and sass files but I have followed the instructions on the documentation and I'm no further forward with getting the timeline extension to work.

I first tried the npm way but I got stuck at the npm run build as I don't have a build file but I think that is because its just a static html page I am creating. I then tried the second way of doing it through the git re

[2019-08-15 04:03] renanmontebelo opened #124 "Flip tooltips to other positions when near the edge of viewport"
This is a feature request, and I realize it's a tricky one that might not be possible without js.

Tooltips, when applied to elements near the edges of the viewport, might get 'rendered' partially outside of it. For instance, this button with a "It's a long sentence text" bottom tooltip:

![image](https://user-images.githubusercontent.com/11399853/63071794-50de1d00-bee6-11e9-9764-d3bc0dba7042.png)

[2019-08-20 16:26] #123 closed

[2019-08-23 16:53] saibharadwajavuggili opened #125 "Options are not working when using bulma calendar"
I'm using Bulma calendar in my reactJS Project and but some reasons I can't change the default value which is set to "true" to "false".

Here's my code:- `<input
										style={{border: "1px solid gray", borderRadius:"5px"}}
										className="field is-size-5 "
										type="date"
										placeholder="Start Date - End Date"
										data-is-range="true"
										data-close-on-overlay-cli

[2019-08-26 10:46] jethromay opened #126 "Bulma Collapsible"
The CDN for the bulma collapsible component needs to be added as it is still using the deprecated bulma accordion component.

The docs are still using the accordion component too.

[2019-09-16 10:50] YoanaDimitrova-kpmg commented on #121
+1

[2019-10-15 23:06] aman54kumar commented on #20
is there any update on this? can this be done?

[2019-10-21 06:13] epaprat opened #127 "bulma-switch.min.css has sass variables"
Hello,

when i try to use `dist/bulma-switch.min.css`, i encounter following error.
[code]

if i review the css it contains this variables at several places.

[2019-10-26 20:09] adbits-dev opened #128 "Unable to use bulma-carousel"
I'm using Bulma-Carousel with React.
I have imported the CSS in index.js file.
This is my Component on which I'm trying to use it ->
[code]
Here's an image of what I see ->
![Screenshot from 2019-10-27 01-35-52](https://user-images.githubusercontent.com/57038953/67625343-98741400-f85a-11e9-9cee-fd541c6d84e6.png)

[2019-10-27 06:07] #128 closed

[2019-11-04 02:32] neomish opened #129 "[Feature Request] Organizational or tree chart"
Hello

Hello

It would be interesting to see a class to create views of tree graphics or organizational charts

Thanks :)

[2019-11-06 16:25] jcheng77 commented on #121
instead of customizing the code, you can disable the button after initialization

var clearbuttons = document.getElementsByClassName('datetimepicker-clear-button');
for(var i = 0; i< clearbuttons.length; i++) {
  clearbuttons[i].disabled = true;
}

[2019-11-06 16:32] YoanaDimitrova-kpmg commented on #121
@jcheng77 Wouldn't the user be confused by the presence of a button that can't be used? Also, there will be no way of clearing out the date as the input field is disabled with Bulma (if I remember correctly).

[2019-11-14 23:20] sargtier1 opened #130 "Using Bulma Extensions with Gatsby"
How would I go about implementing this? super confused. Any and all direction would be appreciated.

[2019-12-10 07:57] Laraveldeep opened #131 "Pulling "bulma-slider" v1.0.4 instead of latest one"
`bulma-extension` is pulling `bulma-slider` version 1.0.4 that has a bug on `index.sass` line 86 `vertical-align: middle;`.

[2019-12-10 11:50] jondoe1337 opened #132 "Tooltip cropped in table-container"
When using a table-container and showing the tooltip, it is cropped. When the table-container div is removed the tooltip is completely visible.

bulma-tooltip: 3.0.2
bulma: 0.8.0
![tooltip](https://user-images.githubusercontent.com/768498/70527187-9e446100-1b4b-11ea-9c0b-0a3820ba886e.png)

[2020-01-05 21:58] silkyfray commented on #94
@schematis I got it working using `useEffect`.  Here is the [gist].(https://gist.github.com/silkyfray/d46babf96c792ef99d09e38ed0ca583a)

[2020-02-07 10:24] LyonBlecher opened #134 "Tooltip not displaying"
I've downloaded the css and js files from jsdeliver.
I've included the css file in the header and the js file at the end of the body, but tooltips are not displaying. The files are loading properly too.
Essentially no attributes using data are working.

Is there any js code I need to execute to attach them?

[2020-02-07 10:43] LyonBlecher commented on #134
So I've solved the problem, I need to also have the tooltip css file for it to work, it isn't included directly in the extensions bulma-extensions.min.css file? or is meant to be?

[2020-02-22 16:35] draible commented on #121
Hello, this bug is still present. Any way of looking into this? many thanks. d

[2020-02-22 16:37] draible commented on #121
Hello, this bug is still present. Any way of looking into this? many thanks. d

[2020-02-26 16:34] julian-ha commented on #80
Hi, does anybody has an answer for that. I have literally the same problem.

[2020-02-26 16:54] CreativeBulma commented on #80
Hi,

here is an example: https://github.com/Wikiki/bulma-extensions/issues/20#issuecomment-357448004

[2020-02-26 20:32] jwosborn commented on #134
I had the same problem and the same solution fixed it. Thanks for posting @LyonBlecher .

[2020-02-26 21:35] #134 closed

[2020-02-26 22:32] julian-ha commented on #80
Hi,
I am using this example but it gave me "StepsWizard is not defined"

[2020-02-28 08:43] CreativeBulma commented on #80
What bout using `bulmaSteps` instead of `StepsWizard`?

[2020-03-16 10:32] jcerar commented on #121
My solution is to manipulate the DOM after calendar initialization like so:

$('.datetimepicker-clear-button').attr('type', 'button');

Achieves what the OP originally set out to do without touching the component source.

[2020-03-25 03:12] ortonomy opened #136 "[CHECKBOX] RTL also reverses switch direction"
I'm not sure if this is by design, but when using `is-rtl` for the switch to get the label on the left-hand side, the switch direction is also reversed.

This is kinda logical, but is also unintuitive. Perhaps if `rtl` meant 'right-to-left language', I might understand. Is there a way to fix this? Should it be fixed?

Example:

![image](https://user-images.githubusercontent.com/6688676/77497930-73

[2020-03-26 09:02] masiref commented on #20
Hi, take a look here: https://github.com/Wikiki/bulma-steps/issues/36#issuecomment-604309323.

Regards.

[2020-03-27 13:18] Wikiki commented on #132
Hi,

please now use [http://github.com/creativebulma/bulma-tooltip](http://github.com/creativebulma/bulma-tooltip) instead.

regards

[2020-03-27 13:18] #132 closed

[2020-03-27 13:18] Wikiki commented on #124
Hi,

please now use [http://github.com/creativebulma/bulma-tooltip](http://github.com/creativebulma/bulma-tooltip) instead.

regards

[2020-03-27 13:18] #124 closed

[2020-03-27 13:18] Wikiki commented on #66
Hi,

please now use [http://github.com/creativebulma/bulma-tooltip](http://github.com/creativebulma/bulma-tooltip) instead.

regards

[2020-03-27 13:18] #66 closed

[2020-04-20 12:57] dtrckd opened #138 "Activate tooltip on :hover only (not on :focus) ?"
Hi,

I have button with a **tooltip** as follows:
[code]
When we hover the button, the tooltip shows up, ok.
When we click the button, the tooltip stays on the button.

How can we have the tooltip showing up on :hover only (not on :focus i.e when the button is clicked) ?

[2020-05-03 16:12] Wikiki commented on #138
Hi,

please use the new version available here: https://github.com/CreativeBulma/bulma-tooltip

[2020-05-03 16:12] #138 closed

[2020-05-03 16:12] Wikiki commented on #126
Hi,

please use the new version available here: https://github.com/CreativeBulma/bulma-collapsible

[2020-05-03 16:12] #126 closed

[2020-05-03 16:13] Wikiki commented on #83
Hi,

please use the new version available here: https://github.com/CreativeBulma/bulma-divider

[2020-05-03 16:13] #83 closed